<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %> 
    <h1 class="user-form-title">Publicá tu producto, ¡es gratis!</h1>
    <form class="user-form" action="/products/edit/<%= product.id %>" method="POST" enctype="multipart/form-data">
        <div>
            <input type="text" name="name" id="name" required placeholder=" " value="<%= product.name %>">     
            <label for="name">Nombre del producto</label>      
        </div>   
        <div>
            <select name="categoryId" id="categoryId">
                <% categories.forEach(category => { %>
                    <% if (category.id == product.categoryId) { %>
                        <option value="<%= category.id %>" selected><%= category.name %></option>
                    <% } else { %>                     
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <% } %>
                <% }) %>
            </select>
            <label for="categoryId">Categoría</label>
            <p class="msg"></p>    
        </div>
        <div>
            <input type="number" id="price" name="price" required placeholder=" " value="<%= product.price %>">
            <label for="price">Precio</label>
        </div>
        <div>
            <input type="number" id="discount" name="discount" required placeholder=" " value="<%= product.discount %>">
            <label for="discount">Descuento</label>
        </div>
        <div>
            <label for="description" id="textarea-label">Descripción</label>
            <textarea id="description" name="description" required placeholder=" "><%= product.description %></textarea>
        </div>
        <div>
            <input type="file" id="image" name="image" accept="image/*">
            <label for="image">Imagen</label>
        </div>

        <button type="submit" class="submit-button">Editar</button>
    </form>

    <%- include('partials/footerEmpty') %>
</body>
</html>